body {
    margin: 0px;
}

#cn_container {
    padding: 5px;
    width: 954px;
    overflow: hidden;
}

#companyname {
    overflow: hidden;
}

#companyslogan {
    overflow: hidden;
}

#nav {
    width: 960px;
    padding-left: 4px;
}

#kv {
    width: 964px;
    overflow: hidden;
    height: 370px;
}

#gtf_container {
    background-image: url(image/70764856.jpeg);
    background-repeat: repeat-y;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 944px;
    overflow: hidden;
}

#gtf_bot {
    background-image: url(image/70764857.jpeg);
    background-repeat: no-repeat;
    height: 30px;
}

#globaltext {
    overflow: hidden;
    width: 944px;
}

#pageleveltext {
    overflow: hidden;
    width: 944px;
}

#layout {
    overflow-y: hidden;
    overflow-x: auto;
    width: 944px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    overflow: hidden;
}

#footer_top {
    background-image: url(image/70764858.jpeg);
    background-repeat: no-repeat;
    height: 24px;
    width: 964px;
}

#footer {
    overflow: hidden;
    background-image: url(image/70764859.jpeg);
    background-repeat: repeat-y;
    width: 944px;
    padding: 10px;
}

#footer_bot {
    background-image: url(image/70764860.jpeg);
    background-repeat: no-repeat;
    height: 17px;
    width: 964px;
}

#wrapper {
    width: 964px;
    margin-right: auto;
    margin-left: auto;
}

#styleNav .primary-webcomMenuItem-middle {
    background-image: url(image/70764861.jpeg);
    background-repeat: no-repeat;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 5px;
    height: 44px;
}

#styleNav .secondary-webcomMenuItem-middle {
    background-image: url(image/70764862.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 140px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

#styleNav .secondary-webcomMenu-top {
    background-image: url(image/70764863.png);
    background-repeat: no-repeat;
    width: 155px;
    padding-top: 17px;
}

#styleNav .secondary-webcomMenu-middle {
    background-image: url(image/70764864.png);
    width: 155px;
    background-repeat: repeat-y;
}

#styleNav .secondary-webcomMenu-bottom {
    background-image: url(image/70764865.png);
    background-repeat: no-repeat;
    padding-bottom: 13px;
}

#styleNav .primary-webcomMenuItem.selected .primary-webcomMenuItem-middle {
    background-image: url(image/70764866.jpeg);
    background-repeat: no-repeat;
}

#styleNav .primary-webcomMenuItem .secondary-webcomMenuItem.selected .secondary-webcomMenuItem-middle {}

#styleNav .primary-webcomMenuItem.hover .primary-webcomMenuItem-middle {
    background-image: url(image/70764866.jpeg);
    background-repeat: no-repeat;
}

#styleNav .primary-webcomMenuItem .secondary-webcomMenuItem.hover .secondary-webcomMenuItem-middle {}

.footercontent,
.footercontent a:link,
.footercontent a:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.wsp_print_btn_left {
    background: url("../images/shared/button/btn_left.gif") no-repeat right;
    width: 3px;
    height: 21px;
}

.wsp_print_btn_right {
    background: url("../images/shared/button/btn_right.gif") no-repeat left;
    width: 3px;
    height: 21px;
}

.wsp_print_btn_middle {
    background: url("../images/shared/button/btn_middle.gif") repeat-x top;
    height: 21px;
    cursor: pointer;
    padding: 0pt 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.wsp_print_btn_text {
    text-decoration: none;
    color: #000 !important;
}

.wsp_print_btn {
    cursor: pointer;
    font-family: tahoma;
    font-size: 12px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size-adjust: none;
    line-height: normal;
    white-space: nowrap;
    margin: 0 auto;
}

/*Only Define Font Family if need*/
body {
    font-family: Arial;
    font-size: 10pt;
    color: #000000;
    font-weight: normal;
}

h1,
.pagetitle {
    font-size: 18pt;
    color: #e6836c;
    font-weight: bold;
}

h2,
.sectiontitle {
    font-size: 16pt;
    color: #c69d4a;
    font-weight: bold;
}

h3 {
    font-size: 14pt;
    color: #333333;
    font-weight: bold;
}

h4 {
    font-size: 14pt;
    color: #e6836c;
    font-weight: bold;
}

h5 {
    font-size: 12pt;
    color: #c69d4a;
    font-weight: bold;
}

h6 {
    font-size: 12pt;
    color: #333333;
    font-weight: bold;
}

ol {
    color: #e6836c;
}

ul {
    color: #e6836c;
}

.customheader1 {
    font-size: 18pt;
    color: #c69d4a;
    font-weight: bold;
}

.customheader2 {
    font-size: 16pt;
    color: #000000;
    font-weight: bold;
}

/*standard*/
.companyname {
    font-family: Arial;
    font-size: 24pt;
    font-weight: bold;
    color: #333333;
}

.companyslogan {
    font-family: Arial;
    font-size: 14pt;
    font-weight: bold;
    color: #e6836c;
}

#footer,
#footer a {
    color: #000000;
}

#globaltext {
    color: #333333;
}

#pageleveltext {
    color: #333333;
}

/* navigation (flyouts) */
#styleNav .primary-webcomMenuItem-middle {
    font-family: Arial;
    font-size: 10pt;
    color: #000000;
}

#styleNav .secondary-webcomMenuItem-middle {
    text-align: left;
    color: #333333;
    font-family: Arial;
    font-size: 10pt;
}

#styleNav .primary-webcomMenuItem.selected .primary-webcomMenuItem-middle {
    color: #000000;
}

#styleNav .primary-webcomMenuItem.hover .primary-webcomMenuItem-middle {
    color: #000000;
}

#styleNav .primary-webcomMenuItem .secondary-webcomMenuItem.selected .secondary-webcomMenuItem-middle {
    color: #bda11d;
}

#styleNav .primary-webcomMenuItem .secondary-webcomMenuItem.hover .secondary-webcomMenuItem-middle {
    color: #FFA694;
}

/* Primary / Secondary */
.webCom-color-primary {
    color: #FFA694;
}

.webCom-backgroundColor-primary {
    color: #333333;
}

.webCom-color-secondary {
    color: #333333;
}

.webCom-backgroundColor-secondary {
    background-color: #FFA498;
}

body {
    line-height: 1.5;
}

ul {
    line-height: auto;
    color: #00ACA6;
}

a:visited {
    line-height: auto;
    color: #78AF87;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.companyslogan {
    line-height: auto;
}

a:active {
    line-height: auto;
    color: #78AF87;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.customheader1 {
    line-height: auto;
}

a:link {
    line-height: auto;
    color: #78AF87;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.customheader2 {
    line-height: auto;
}

.pagetitle {
    line-height: auto;
    color: #00ACA6;
    font-size: 16pt;
    font-family: Copperplate, Copperplate Gothic Light, sans-serif;
}

h5 {
    line-height: auto;
}

h6 {
    line-height: auto;
}

ol {
    line-height: auto;
    color: #00ACA6;
}

h1 {
    line-height: auto;
    color: #00ACA6;
    font-size: 16pt;
    font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
}

.sectiontitle {
    line-height: auto;
    color: #78AF87;
    font-size: 12pt;
    font-family: Copperplate, Copperplate Gothic Light, sans-serif;
}

h3 {
    line-height: auto;
}

h2 {
    line-height: auto;
}

#gtf_container {
    background-image: url("http://customcuisine.com/files/129000789.png");
    background-repeat: no-repeat;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 944px;
    overflow: hidden;
}

#gtf_bot {
    background-image: url("http://customcuisine.com/files/129000789.png");
    background-repeat: no-repeat;
    height: 30px;
}

#styleNav .primary-webcomMenuItem-middle {
    background-image: url("http://customcuisine.com/files/129000790.png");
    background-repeat: no-repeat;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 5px;
    height: 44px;
}

li.secondary-webcomMenuItem.hover {
    color: #00ACA6;
}

#styleNav .primary-webcomMenuItem .secondary-webcomMenuItem.hover .secondary-webcomMenuItem-middle {
    color: #00ACA6;
}

/* Google fonts */
@import url("googleFonts.css");

/* Reset default margins and padding to zero */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.lineHeightDefault {
    line-height: auto;
}

.lineHeightSingle {
    line-height: 1;
}

.lineHeightOnetwofive {
    line-height: 1.5;
}

.lineHeightOnefive {
    line-height: 1.75;
}

.lineHeightDouble {
    line-height: 2;
}
