<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        {%- include contact-info.html -%}
        <br>
        <hr>
        <p><small>© <span class="current-year"></span> Custom Cuisine Catering</small></p>
      </div>
    </div>
  </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/custom.js"></script>
