<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary justify-content-md-between">
  <a class="navbar-brand" href="#">Custom Cuisine Catering<span class="navbar-brand__subtext">Custom Catering at
      Reasonable Prices</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="mr-auto my-2 my-lg-0"></div>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Catering Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Food</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>