<nav
  class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary justify-content-md-between"
>
  <a class="navbar-brand" href="#"
    ><img src="/assets/image/logo.png" alt="company logo" class="logo">{{ site.title | escape }}<span class="navbar-brand__subtext"
      >{{site.tagline}}</span
    ></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="mr-auto my-2 my-lg-0"></div>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/services">Catering Services</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="/food">Our Food</a></li>
      <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
    </ul>
  </div>
</nav>
