---
# Only the main Sass file needs front matter (the dashes are enough)
---

$theme-colors: ("primary": hsl(177, 51%, 45%), "secondary": hsl(40, 84%, 62%));
@import "bootstrap/bootstrap";
@import "scss/nav";

$link-color: theme-colors("primary");
$footer-color: $gray-100;
