---
layout: no-container
---

<div class="home">
  <div class="jumbotron dotted">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="display-4">{{ site.title }}</h1>
        <p class="lead">{{ site.summary }}</p>
        <img
          src="{{ site.baseurl }}/assets/image/buffet.png"
          alt="buffet"
          class="rounded img-fluid shadow"
        />
        <hr class="my-4" />
        <div class="row justify-content-center">
          <div class="col-md-8">
            <p>
              For over 20 years, McKinney-based <b>Custom Cuisine Catering</b> has provided full-service catering for corporate, private and special events in the North Dallas area. Let us take care of the cooking and service so you can sit back and enjoy your event.
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <p class="lead">
              <a
                href="{{ site.baseurl }}/contact.html"
                class="btn btn-block btn-lg btn-primary my-2 my-sm-0 shadow"
                >Contact Us</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card">
          <img
            src="{{ site.baseurl }}/assets/image/sandwiches.jpg"
            class="card-img-top"
            alt="sushi"
          />
          <div class="card-body">
            <h5 class="card-title">Big or Small, We Cater It All</h5>
            <p class="card-text">
              Our professional staff can serve groups from 5 to 500. Our events
              have ranged from high-end receptions to noontime luncheons.
              <!-- 
                REMOVED FOR SPACE: Whether it’s a casual buffet or an intimate
                dinner, Custom Cuisine will create the perfect setting for your
                next event.
              -->
            </p>
            <a href="{{ site.baseurl }}/contact.html" class="btn btn-primary">Book an Event</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="{{ site.baseurl }}/assets/image/sushi.jpg" class="card-img-top" alt="sushi" />
          <div class="card-body">
            <h5 class="card-title">No Set Menus</h5>
            <p class="card-text">
              We are not are a restaurant, all we do is catering, whatever you
              want for breakfast, lunch, or dinner, we can create a delicious
              meal that is sure to please.
            </p>
            <a href="{{ site.baseurl }}/food.html" class="btn btn-primary">See our Food</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="{{ site.baseurl }}/assets/image/meat-tray.jpg"
            class="card-img-top"
            alt="sushi"
          />
          <div class="card-body">
            <h5 class="card-title">20 Years of Customer Service</h5>
            <p class="card-text">
              Our experience in the catering business means we provide what
              people want. Let us turn your event into an event your guests will
              never forget.
            </p>
            <a href="{{ site.baseurl }}/about.html" class="btn btn-primary">About Us</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  {{ content }}
</div>
