@import "_custom";

@import "~bootstrap/scss/bootstrap";

// // Required
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// // Optional
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/navbar";
.navbar-brand__subtext {
    font-size: 0.7em;
    color: $navbar-dark-disabled-color;
    display: block;
}

$link-color: theme-colors("primary");
$footer-color: $gray-100;
